
@{
    ViewData["Title"] = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section>
    <center>
        <div class="bg-secondary p-5 w-75">
            <h1>Welcom To Contact US Page</h1>
            <p> Route Acdemy</p>
        </div>
    </center>
</section>

