
@{
    Layout = "_Layout";
}
    @* StartBody *@

    <section>
        <center>
            <div class="bg-primary p-5 w-75">
                <h1>Welcom To Home Page</h1>
                <p> Route Acdemy</p>
            </div>
        </center>
    </section>
    @* EndBody *@

 


