@{
    Layout = "_Layout";
}
    <section>
        <center>
            <div class="bg-warning p-5 w-75">
                <h1>Welcom To Privacy Page</h1>
                <p> Route Acdemy</p>
            </div>
        </center>
    </section>
    @* EndBody *@



